.mainContainer{
    height: 100vh;
    padding: 0 16px;
    background-color: #141a1e;
    color: white;
    overflow: hidden;
    display: flex;
  }
  
  .container{
    padding: 0 16px;
  }

  
  /*Side NavBar*/
    .sideNavbar{
        height: 100%;
        width: 30%;
        border-right: 0.05px solid #CBC3E3;
        display: flex;
        flex-direction: row-reverse;
    }

    .desktopNav{
        height: 100%;
        width: 60%;
    }

    .head{
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: column;
     align-items: center;
    }

    .headList{
      height: 40px;
      width: 90%;
      display: flex;
      align-items: center;
  
      font-weight: 600;
      cursor: pointer;
      border-radius: 16px;
    }

    .headList:hover{
      background-color: #202A30;
      transition: 0.5s;
    }

    .headList svg {
      height: 25px;
     margin-left: 5px;
     margin-right: 10px;
    }
    .headList a {
      padding-top: 10px;
      
    } 

    .logo{
      height: 40px;
      width: 90%;
      display: flex;
      align-items: flex-start;
      margin-left: 10px;
      margin-top: 15px;
      margin-bottom: 20px;
     }
     
     .logo p{
       font-weight: 600;
       font-size: 16px;
       padding-left: 5px;
       padding-top: 5px;

     }
     
      @media all and (max-width: 960px)
      {
        
        .logo p {
          display: none;
        }
        .logo{
          justify-content: center;
          margin-left: 0;
        }

        .headList a {
          display: none;
        }
        .headList {
          justify-content: center;
        }
      }
  /*Side Navbar*/

  /* Middle Container */
    .middleContainer{
        height: 100%;
        width: 734px;
        max-width: 50%;
        border-right: 0.05px solid #CBC3E3;
    }

    .inputContainer{
        display: flex;
        height: 100%;
        width: 40%;
        justify-content: flex-start;
        align-items: center;
        border-radius: 16px;
        background-color: #202A30;
        padding: 20px 10px;
        margin-right: 25px;
      }
      
      .inputContainer input{
        width: 100%;
        max-width: 250px;
        color: #c7d2da;
        font-size: 16px;
        font-weight: 500;
        outline: none;
        border: none;
        background-color: transparent;
      }
      
      .inputContainer svg{
        margin: 0 10px;
        max-height: 25px;
        min-height: 25px;
        color: #c7d2da;
      }
      
      .navContainer{
          height: 25px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 35px  0;
          border-bottom: 0.05px solid #CBC3E3;
      }

      .navContainer p{
          margin-left: 25px;
      }

      .bodyContainer{
          height: 100%;
          width: 100%;        
      }

      .bodyContainer p{
        margin-left: 25px;
    }

      .bodyHeader{
          height: 25%;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
      }

      .bodyMain{
          height: 70%;
          width: 100%; 
      }


      @media all and (max-width: 600px)
      {

        .bodyContainer p{
          margin-left: 0;
          margin-right: 25px;
      }
       .bodyHeader{
         justify-content: center;
         align-items: center;
         flex-direction: column;
       }

      }

      /*Portfolio*/
      .portfolio{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;
      }

      .portfolioCard{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        width: 100%;
        padding: 25px;
        background-color: #202A30;
      }

      .portfolioCardHover:hover{
        box-shadow: 0px 0px 5px 2.5px gray;
        transition: 0.05s;
      }

      @media all and (max-width: 600px)
      {
        .portfolio{
          justify-content: center;
        }
        .portfolioCard{
          justify-content: center;
          width: 50%;
        }
        .portfolioCard p{
          display: none;
        }

      }


      /*Portfolio*/

      .bodyNavContainer{
          height: 15%;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-bottom: 1px solid white;
          padding-top: 32px;
          position: relative;
      }

      .bodyNavContainer p{
         position: absolute;
         padding:10px 15px;
         bottom: -2.5px;
         border-bottom: 3px solid white;
      }

      .infoContainer{
          height: 50%;
          width: 50%;
          background-color: #202A30;
          margin-right: 25px;
          border-radius: 16px;
      }
  /* Middle Container */